name: Deploy to production

on:
  push:
    branches:
      - main

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to server
        uses: appleboy/ssh-action@master
        with:
          host: 195.35.40.108
          username: root
          password: ${{ secrets.SSH_SERVER_2 }}
          script: |
            source ~/.nvm/nvm.sh
            nvm use 20.10.0
            cd /root/cmcodes-vault
            git checkout main
            git pull origin main
            /bin/bash /root/cmcodes-vault/ui-axiom-agents/prod/deploy.sh
